In [1]:
from sportsref.baseball import Player
from sportsref.page import Page

im calling bref now

In [2]:
p = Page("hr", "/teams/MTL/2020_games.html")

Available tables: ['games']

In [3]:
p.get_df("games").shape

(86, 16)

In [4]:
print(Page("hr", "/teams/MTL/2020_games.html").get_df("games").shape)

Available tables: ['games']
(86, 16)

In [5]:
import pandas as pd
pd.set_option("display.max_columns", 50)

In [6]:
aaron = Player("hank aaron")

I'm 100% sure that you want Hank Aaron
Available tables: ['batting_standard', 'batting_value', 'batting_postseason', 'standard_fielding', 'appearances', None, 'br-salaries']

In [11]:
aaron.overview('batting_value')

,Year,Age,Tm,Lg,G,PA,Rbat,Rbaser,Rdp,Rfield,Rpos,RAA,WAA,Rrep,RAR,WAR,waaWL%,162WL%,oWAR,dWAR,oRAR,Salary,Pos,Awards
0,1954,20,MLN,NL,122,509,4,-2,-1,-1,-5,-5,-0.6,19,14,1.3,0.496,0.497,1.5,-0.7,15,"$6,000",*79,RoY-4
1,1955,21,MLN,NL,153,665,37,2,-1,7,-5,40,3.8,25,65,6.3,0.527,0.525,5.8,0.0,58,"$10,000",*974,"AS,MVP-9"
2,1956,22,MLN,NL,153,660,41,0,-1,15,-7,47,4.6,24,72,7.2,0.533,0.531,6.0,0.7,57,"$17,500",*9,"AS,MVP-3"
3,1957,23,MLN,NL,151,675,54,2,0,4,-4,55,5.5,25,80,8.0,0.538,0.535,7.8,-0.1,76,"$22,500",*98,"AS,MVP-1"
4,1958,24,MLN,NL,153,664,44,3,-2,8,-6,48,4.8,25,72,7.3,0.532,0.531,6.6,0.2,64,"$35,000",*98,"AS,MVP-3,GG"
5,1959,25,MLN,NL,154,693,64,6,0,-4,-7,60,6.1,25,85,8.6,0.540,0.538,9.1,-1.1,89,"$35,000",*98/5,"AS,AS,MVP-3,GG"
6,1960,26,MLN,NL,153,664,41,2,2,14,-7,52,5.5,25,77,8.0,0.537,0.534,6.5,0.8,63,"$45,000",*9/84,"AS,AS,MVP-11,GG"
7,1961,27,MLN,NL,155,671,44,4,1,23,-4,68,6.9,25,94,9.4,0.545,0.543,7.0,2.0,70,"$45,000",*89/5,"AS,AS,MVP-8"
8,1962,28,MLN,NL,156,667,57,0,0,6,-4,59,6.1,25,85,8.6,0.539,0.537,7.9,0.3,79,"$47,500",*89/3,"AS,AS,MVP-6"
9,1963,29,MLN,NL,161,714,62,7,0,-5,-7,57,6.4,25,82,9.1,0.540,0.539,9.5,-1.3,87,"$53,000",*9,"AS,MVP-3"
10,1964,30,MLN,NL,145,634,38,6,-2,4,-6,39,4.5,23,62,6.8,0.530,0.527,6.3,-0.2,59,"$61,000",*94,"AS,MVP-14"
11,1965,31,MLN,NL,150,639,43,4,-1,10,-7,50,5.4,24,73,7.9,0.537,0.534,6.8,0.3,64,"$63,500",*9,"AS,MVP-7"
12,1966,32,ATL,NL,158,688,36,6,0,12,-7,48,5.4,24,72,7.8,0.533,0.533,6.3,0.8,59,"$70,000",*9/84,"AS,MVP-8"
13,1967,33,ATL,NL,155,669,53,4,1,1,-6,53,6.1,23,76,8.5,0.538,0.537,8.2,-0.5,75,"$92,500",*98/4,"AS,MVP-5"
14,1968,34,ATL,NL,160,676,31,2,-2,10,-8,33,4.5,23,56,6.8,0.526,0.526,5.3,0.4,46,"$92,500",*93,"AS,MVP-12"
15,1969,35,ATL,NL,147,639,56,-1,-2,6,-7,53,5.9,21,74,8.1,0.539,0.536,7.2,0.1,68,"$92,500",*9/3,"AS,MVP-3"
16,1970,36,ATL,NL,150,598,34,1,0,0,-6,28,3.0,20,49,5.0,0.519,0.518,4.9,-0.6,49,"$125,000",*93,"AS,MVP-17"
17,1971,37,ATL,NL,139,573,59,0,1,-5,-7,47,5.2,20,66,7.2,0.537,0.532,7.8,-1.4,72,"$125,000",39,"AS,MVP-3"
18,1972,38,ATL,NL,129,545,31,1,-2,-4,-7,18,2.2,18,36,3.9,0.516,0.513,4.3,-1.2,40,"$200,000",*39,"AS,MVP-16"
19,1973,39,ATL,NL,120,465,38,-1,0,-2,-4,31,3.2,15,46,4.7,0.528,0.520,4.9,-0.8,47,"$200,000",79,"AS,MVP-12"
20,1974,40,ATL,NL,112,382,12,-1,1,0,-3,9,0.9,12,21,2.1,0.508,0.506,2.0,-0.4,21,"$200,000",7,AS
21,1975,41,MIL,AL,137,543,-3,-1,-1,-1,-12,-18,-1.8,19,2,0.1,0.486,0.488,0.2,-1.3,3,"$240,000",*D/7,AS
22,1976,42,MIL,AL,85,308,3,-1,-1,0,-7,-6,-0.7,11,5,0.4,0.492,0.496,0.5,-0.8,5,"$240,000",D/7,NaN

In [10]:
aaron.advanced("advanced_fielding_rf", "f")

Available tables: ['standard_fielding', 'advanced_fielding', 'appearances', 'advanced_fielding_rf', 'advanced_fielding_lf', 'advanced_fielding_cf', 'advanced_fielding_1b', 'advanced_fielding_2b', 'advanced_fielding_3b', None]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Year                Age                 Tm
0                1954                 20                MLN
1                1955                 21                MLN
2                1956                 22                MLN
3                1957                 23                MLN
4                1958                 24                MLN
5                1959                 25                MLN
6                1960                 26                MLN
7                1961                 27                MLN
8                1962                 28                MLN
9                1963                 29                MLN
10               1964                 30                MLN
11               1965                 31                MLN
12               1966                 32                ATL
13               1967                 33                ATL
14               1968                 34                ATL
15               1969                 35                ATL
16               1970                 36                ATL
17               1971                 37                ATL
18               1972                 38                ATL
19               1973                 39                ATL

   Unnamed: 3_level_0 Errors                 Assists              \
                   Lg    Tot Cch Fld Thr ROE     Tot 1B 2B 3B Hm
0                  NL      1   0   0   1   0       2  1  0  0  0
1                  NL      8   0   8   0   2       7  0  3  4  0
2                  NL     13   0  13   0   3      16  0  3  6  5
3                  NL      3   0   1   2   0       6  0  3  2  1
4                  NL      2   0   1   1   1      11  0  6  3  2
5                  NL      4   0   4   0   0      11  0  2  3  3
6                  NL      6   0   6   0   0      13  0  2  3  2
7                  NL      3   0   2   1   0      11  0  5  3  1
8                  NL      2   0   2   0   1       6  2  2  1  3
9                  NL      5   0   5   0   2      11  1  4  5  1
10                 NL      5   0   4   1   1      14  0  6  5  0
11                 NL      4   0   4   0   2       9  0  3  4  1
12                 NL      4   0   4   0   0      11  0  2  1  3
13                 NL      7   0   6   1   1      10  0  2  3  2
14                 NL      3   0   3   0   0      12  0  4  4  2
15                 NL      5   0   5   0   0      11  1  6  2  2
16                 NL      6   0   6   0   3       6  0  3  1  2
17                 NL      2   0   2   0   0       2  0  1  0  1
18                 NL      3   0   3   0   0       4  0  2  1  1
19                 NL      1   0   1   0   0       2  0  1  0  1

   Single w/ Runner on 1st           Single w/ Runner on 2nd            \
                       Opp Held Kill                     Opp Held Kill
0                        1    0    0                       2    0    0
1                       32   14    3                      13    2    0
2                       48   23    5                      27   11    3
3                       44   12    0                      21    5    0
4                       45   25    3                      19    7    1
5                       71   37    5                      32    6    1
6                       70   26    2                      31   10    2
7                       43   17    2                      14    5    1
8                       30   11    1                      15    4    0
9                       41   18    2                      26    5    0
10                      68   25    6                      31   10    0
11                      56   21    2                      32   12    0
12                      57   20    2                      17    5    2
13                      67   15    2                      25    5    0
14                      57   17    3                      25    6    1
15                      55   22    2                      24    4    1
16                      45   19    2                      23    5    0
17                      27   13    0                      11    2    1
18                      10    3    0                       2    1    1
19                      13    6    0                       4    0    1

   Double w/ Runner on 1st           Flyout, <2out, Runner on 3rd            \
                       Opp Held Kill                          Opp Held Kill
0                        0    0    0                            3    0    0
1                        4    3    0                           10    4    0
2                       13    7    0                           14    4    2
3                        8    4    1                            9    2    0
4                        9    7    1                            4    0    0
5                       17    9    1                           11    3    0
6                       27   17    0                           10    5    0
7                        7    5    0                            7    3    0
8                        5    3    1                            8    2    1
9                       16   10    0                           16    4    0
10                      21   11    0                           12    3    0
11                       9    5    1                           20    7    0
12                      14    8    1                           26   10    1
13                      23   14    1                           16    5    0
14                      16    7    1                           15    2    0
15                      13    8    0                           16    5    1
16                      18   11    2                           11    3    0
17                       6    4    0                            7    3    0
18                       1    1    0                            2    1    0
19                       3    2    0                            3    0    0

   Flyout, <2out, Runner on 2nd           Baserunning Totals                  \
                            Opp Held Kill                Opp Held  Held% Adv
0                             2    1    0                  8    1  12.5%   7
1                            16   10    1                 75   33  44.0%  38
2                            28   19    0                130   64  49.2%  56
3                            10    7    0                 92   30  32.6%  61
4                            13   11    0                 90   50  55.6%  35
5                            16   11    0                147   66  44.9%  74
6                            31   24    0                169   82  48.5%  83
7                            15   10    2                 86   40  46.5%  41
8                             7    4    0                 65   24  36.9%  38
9                            18   12    1                117   49  41.9%  65
10                           15    7    4                147   56  38.1%  81
11                           26   19    1                143   64  44.8%  75
12                           28   21    0                142   64  45.1%  72
13                           25   17    0                156   56  35.9%  97
14                           30   21    1                143   53  37.1%  84
15                           26   13    0                134   52  38.8%  78
16                           26   15    1                123   53  43.1%  65
17                           13    8    0                 64   30  46.9%  33
18                            2    2    0                 17    8  47.1%   8
19                            5    2    0                 28   10  35.7%  17

                     Unnamed: 36_level_0 Unnamed: 37_level_0  \
   Kill Kill% Aother                  PA                RHB%
0     0  0.0%      2                 465                 61%
1     4  5.3%      3                3461                 63%
2    10  7.7%      6                5154                 62%
3     1  1.1%      5                3192                 66%
4     5  5.6%      6                4157                 62%
5     7  4.8%      4                5205                 60%
6     4  2.4%      9                5756                 60%
7     5  5.8%      6                2738                 60%
8     3  4.6%      3                2568                 66%
9     3  2.6%      8                5867                 66%
10   10  6.8%      4                4834                 66%
11    4  2.8%      5                5204                 62%
12    6  4.2%      5                5354                 62%
13    3  1.9%      7                5057                 64%
14    6  4.2%      6                4804                 62%
15    4  3.0%      7                5105                 62%
16    5  4.1%      1                4409                 64%
17    1  1.6%      1                2193                 61%
18    1  5.9%      3                 528                 60%
19    1  3.6%      1                 652                 56%

   Unnamed: 38_level_0 Unnamed: 39_level_0 Unnamed: 40_level_0  \
                  BIP%               FBIP%                 Fld
0                  76%                 25%                  25
1                  76%                 30%                 285
2                  78%                 31%                 515
3                  76%                 29%                 311
4                  76%                 29%                 371
5                  77%                 29%                 474
6                  75%                 29%                 586
7                  79%                 30%                 319
8                  77%                 30%                 236
9                  74%                 29%                 473
10                 74%                 29%                 497
11                 72%                 27%                 509
12                 75%                 28%                 504
13                 75%                 27%                 526
14                 77%                 27%                 530
15                 75%                 28%                 465
16                 72%                 25%                 411
17                 76%                 27%                 206
18                 76%                 29%                  64
19                 77%                 28%                  70

   Unnamed: 41_level_0
                  F2O%
0                  56%
1                  67%
2                  60%
3                  55%
4                  63%
5                  52%
6                  55%
7                  56%
8                  57%
9                  56%
10                 53%
11                 56%
12                 61%
13                 56%
14                 58%
15                 56%
16                 56%
17                 52%
18                 50%
19                 54%

In [8]:
aaron.hr_log()

Available tables: [None, 'play_by_play']

,1954,#car,#yr,#gm,Date,@Bat,Unnamed: 6,Unnamed: 7,Pitcher,Score,Inn,Out,RoB,RBI,BOP,Pos,WPA,bWE,Notes,Play Description
0,1,1,1,1,1954-04-23,MLN,@,STL,VicRaschi,behind 2-4,t 6,1,---,1,6,9,0.114,30%,NaN,Home Run
1,2,2,2,1,1954-04-25,MLN,@,STL,StuMiller,behind 0-1,t 5,0,---,1,6,9,0.139,50%,NaN,Home Run
2,3,3,3,1,1954-05-21,MLN,@,CHC,HalJeffcoat,tied 4-4,t 8,1,1--,2,7,7,0.348,85%,NaN,Home Run (Deep LF); Logan Scores
3,4,4,4,1,1954-05-22 (2),MLN,@,CHC,WarrenHacker,behind 3-8,t 7,0,1--,2,7,7,0.058,11%,NaN,Home Run (Deep LF); Logan Scores
4,5,5,5,1,1954-05-25,MLN,@,CIN,HermWehmeier,behind 0-1,t 5,1,-2-,2,7,7,0.225,61%,NaN,Home Run; Adcock Scores
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,751,751,6,1,1976-06-19,MIL,@,OAK,GlennAbbott,behind 3-6,t 6,1,---,1,4,DH,0.072,16%,NaN,Home Run (Deep LF)
773,752,752,7,1,1976-06-22,MIL,NaN,DET,DaveRoberts,behind 1-4,b 4,0,---,1,5,DH,0.096,28%,NaN,Home Run (Deep LF)
774,753,753,8,1,1976-07-09,MIL,NaN,TEX,JimUmbarger,behind 0-2,b 2,0,---,1,4,DH,0.111,43%,NaN,Home Run (Deep LF)
775,754,754,9,1,1976-07-11 (2),MIL,NaN,TEX,SteveFoucault,tied 4-4,b 10,1,---,1,4,DH,0.429,100%,Walk-Off,Home Run (Deep LF)
776,755,755,10,1,1976-07-20,MIL,NaN,CAL,DickDrago,ahead 4-1,b 7,2,---,1,4,DH,0.029,97%,NaN,Home Run (Deep LF)

In [9]:
demp = Player("Dempster")

I'm 90% sure that you want Ryan Dempster
Available tables: ['pitching_standard', 'pitching_value', 'pitching_postseason', 'batting_standard', 'batting_value', 'batting_postseason', 'standard_fielding', 'appearances', None, 'br-salaries']

In [10]:
demp.overview("pitching_standard")

Available tables: ['pitching_standard', 'pitching_value', 'pitching_postseason', 'batting_standard', 'batting_value', 'batting_postseason', 'standard_fielding', 'appearances', None, 'br-salaries']

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,Awards
0,1995,18,TEX-min,"Rk,A-",4,1,0.800,2.48,9,7,0,1,0,0,40.0,41,23,11,1,18,0,43,2,1,2,178,NaN,NaN,1.475,9.2,0.2,4.1,9.7,2.39,"RGS,HDV GULF,NYPL"
1,1996,19,TEX-FLA-min,A,9,12,0.429,3.22,27,27,0,3,1,0,170.2,138,81,61,13,76,1,157,7,5,19,712,NaN,NaN,1.254,7.3,0.7,4.0,8.3,2.07,"CHS,KNC SALL,MIDW"
2,1997,20,FLA-min,A+,10,9,0.526,4.90,28,26,0,2,1,0,165.1,190,100,90,19,46,1,131,13,1,8,721,NaN,NaN,1.427,10.3,1.0,2.5,7.1,2.85,BRE FLOR
3,1998,21,FLA-min,"AA,AAA",7,4,0.636,3.24,12,12,0,1,0,0,77.2,67,34,28,12,27,1,57,4,0,3,317,NaN,NaN,1.210,7.8,1.4,3.1,6.6,2.11,"PRT,CHR EL,IL"
4,1998,21,FLA,NL,1,5,0.167,7.08,14,11,1,0,0,0,54.2,72,47,43,6,38,1,35,9,0,5,272,57.0,5.86,2.012,11.9,1.0,6.3,5.8,0.92,NaN
5,1999,22,FLA-min,AAA,1,1,0.500,4.99,5,5,0,0,0,0,30.2,30,17,17,6,10,1,29,0,0,4,132,NaN,NaN,1.304,8.8,1.8,2.9,8.5,2.90,CGY PCL
6,1999,22,FLA,NL,7,8,0.467,4.71,25,25,0,0,0,0,147.0,146,77,77,21,93,2,126,6,0,8,666,91.0,5.30,1.626,8.9,1.3,5.7,7.7,1.35,NaN
7,2000,23,FLA,NL,14,10,0.583,3.66,33,33,0,2,1,0,226.1,210,102,92,30,97,7,209,5,0,4,974,121.0,4.36,1.356,8.4,1.2,3.9,8.3,2.15,AS
8,2001,24,FLA,NL,15,12,0.556,4.94,34,34,0,2,1,0,211.1,218,123,116,21,112,5,171,10,0,5,954,86.0,4.45,1.562,9.3,0.9,4.8,7.3,1.53,NaN
10,2002,25,FLA,NL,5,8,0.385,4.79,18,18,0,3,0,0,120.1,126,66,64,12,55,1,87,7,0,0,521,84.0,4.36,1.504,9.4,0.9,4.1,6.5,1.58,NaN
11,2002,25,CIN,NL,5,5,0.500,6.19,15,15,0,1,0,0,88.2,102,61,61,16,38,1,66,3,0,2,394,69.0,5.21,1.579,10.4,1.6,3.9,6.7,1.74,NaN
12,2003,26,CIN-min,AAA,1,1,0.500,3.29,2,2,0,1,0,0,13.2,13,5,5,1,3,0,9,0,0,1,55,NaN,NaN,1.171,8.6,0.7,2.0,5.9,3.00,LOU IL
13,2003,26,CIN,NL,3,7,0.300,6.54,22,20,1,0,0,0,115.2,134,89,84,14,70,4,84,5,0,3,545,63.0,5.10,1.764,10.4,1.1,5.4,6.5,1.20,NaN
14,2004,27,CHC-min,"AAA,A",1,1,0.500,2.97,11,9,0,0,0,0,39.1,39,14,13,1,12,0,41,3,0,3,161,NaN,NaN,1.297,8.9,0.2,2.7,9.4,3.42,"IWA,LNS PCL,MIDW"
15,2004,27,CHC,NL,1,1,0.500,3.92,23,0,8,0,0,2,20.2,16,9,9,1,13,0,18,2,0,1,93,114.0,4.11,1.403,7.0,0.4,5.7,7.8,1.38,NaN
16,2005,28,CHC,NL,5,3,0.625,3.13,63,6,53,0,0,33,92.0,83,35,32,4,49,7,89,4,0,4,401,141.0,3.38,1.435,8.1,0.4,4.8,8.7,1.82,NaN
17,2006,29,CHC,NL,1,9,0.100,4.80,74,0,64,0,0,24,75.0,77,47,40,5,36,3,67,3,0,6,342,97.0,3.79,1.507,9.2,0.6,4.3,8.0,1.86,NaN
18,2007,30,CHC-min,AAA,0,0,NaN,0.00,2,1,1,0,0,0,2.0,1,0,0,0,1,0,4,0,0,0,8,NaN,NaN,1.000,4.5,0.0,4.5,18.0,4.00,IWA PCL
19,2007,30,CHC,NL,2,7,0.222,4.73,66,0,58,0,0,28,66.2,59,36,35,8,30,4,55,1,1,2,282,98.0,4.55,1.335,8.0,1.1,4.1,7.4,1.83,NaN
20,2008,31,CHC,NL,17,6,0.739,2.96,33,33,0,1,0,0,206.2,174,75,68,14,76,1,187,7,0,5,856,154.0,3.41,1.210,7.6,0.6,3.3,8.1,2.46,"AS,CYA-6"
21,2009,32,CHC,NL,11,9,0.550,3.65,31,31,0,1,1,0,200.0,196,94,81,22,65,4,172,6,0,11,842,122.0,3.87,1.305,8.8,1.0,2.9,7.7,2.65,NaN
22,2010,33,CHC,NL,15,12,0.556,3.85,34,34,0,1,0,0,215.1,198,110,92,25,86,4,208,10,0,6,918,110.0,3.99,1.319,8.3,1.0,3.6,8.7,2.42,NaN
23,2011,34,CHC,NL,10,14,0.417,4.80,34,34,0,0,0,0,202.1,211,111,108,23,82,2,191,5,0,7,881,81.0,3.90,1.448,9.4,1.0,3.6,8.5,2.33,NaN
25,2012,35,CHC,NL,5,5,0.500,2.25,16,16,0,0,0,0,104.0,81,28,26,9,27,0,83,1,1,0,417,182.0,3.43,1.038,7.0,0.8,2.3,7.2,3.07,NaN
26,2012,35,TEX,AL,7,3,0.700,5.09,12,12,0,0,0,0,69.0,74,43,39,10,25,0,70,1,0,2,300,86.0,4.08,1.435,9.7,1.3,3.3,9.1,2.80,NaN
27,2013,36,BOS,AL,8,9,0.471,4.57,32,29,1,0,0,0,171.1,170,97,87,26,79,1,157,6,1,9,754,90.0,4.68,1.453,8.9,1.4,4.1,8.2,1.99,NaN

In [11]:
demp.overview("pitching_value")

Available tables: ['pitching_standard', 'pitching_value', 'pitching_postseason', 'batting_standard', 'batting_value', 'batting_postseason', 'standard_fielding', 'appearances', None, 'br-salaries']

,Year,Age,Tm,Lg,IP,G,GS,R,RA9,RA9opp,RA9def,RA9role,PPFp,RA9avg,RAA,WAA,gmLI,WAAadj,WAR,RAR,waaWL%,162WL%,Salary,Awards
0,1998,21,FLA,NL,54.2,14,11,47,7.74,4.85,-0.08,0.11,94.3,4.75,-18,-1.7,1.03,0.0,-1.2,-13,0.381,0.490,NaN,NaN
1,1999,22,FLA,NL,147.0,25,25,77,4.71,5.05,0.04,0.19,94.4,4.91,2,0.2,NaN,-0.1,1.4,17,0.510,0.501,"$202,000",NaN
2,2000,23,FLA,NL,226.1,33,33,102,4.06,5.04,-0.06,0.18,95.2,5.03,24,2.4,NaN,-0.1,4.2,46,0.573,0.515,"$268,000",AS
3,2001,24,FLA,NL,211.1,34,34,123,5.24,4.58,0.08,0.17,97.2,4.54,-17,-1.6,NaN,-0.1,0.1,2,0.453,0.490,"$400,000",NaN
4,2002,25,FLA,NL,120.1,18,18,66,4.94,4.49,-0.08,0.17,97.3,4.62,-5,-0.5,NaN,-0.1,0.5,6,0.474,0.497,"$2,475,000",NaN
5,2002,25,CIN,NL,88.2,15,15,61,6.19,4.38,0.00,0.17,105.2,4.78,-14,-1.4,NaN,-0.1,-0.7,-6,0.409,0.492,NaN,NaN
6,2003,26,CIN,NL,115.2,22,20,89,6.93,4.69,0.03,0.16,97.8,4.72,-29,-2.6,1.13,-0.1,-1.7,-18,0.380,0.484,"$3,250,000",NaN
7,2004,27,CHC,NL,20.2,23,0,9,3.92,4.57,-0.10,-0.34,102.2,4.42,1,0.1,1.26,0.0,0.3,3,0.505,0.501,"$300,000",NaN
8,2005,28,CHC,NL,92.0,63,6,35,3.42,4.62,0.02,-0.16,103.9,4.61,12,1.3,1.75,0.1,2.2,20,0.520,0.508,"$2,000,000",NaN
9,2006,29,CHC,NL,75.0,74,0,47,5.64,4.78,-0.08,-0.35,102.8,4.63,-8,-0.8,1.30,-0.3,-0.4,-2,0.489,0.495,"$4,333,333",NaN
10,2007,30,CHC,NL,66.2,66,0,36,4.86,4.71,0.19,-0.34,104.5,4.37,-3,-0.3,1.39,-0.2,0.1,2,0.495,0.498,"$5,333,333",NaN
11,2008,31,CHC,NL,206.2,33,33,75,3.27,4.57,-0.15,0.18,107.2,5.25,47,5.3,NaN,-0.1,6.9,64,0.660,0.533,"$7,333,333","AS,CYA-6"
12,2009,32,CHC,NL,200.0,31,31,94,4.23,4.49,-0.15,0.17,104.6,5.03,17,1.9,NaN,-0.1,3.5,35,0.561,0.512,"$9,000,000",NaN
13,2010,33,CHC,NL,215.1,34,34,110,4.60,4.38,-0.24,0.16,104.6,5.01,9,1.0,NaN,-0.2,2.7,28,0.530,0.506,"$13,500,000",NaN
14,2011,34,CHC,NL,202.1,34,34,111,4.94,4.21,-0.16,0.15,102.5,4.63,-8,-0.8,NaN,-0.1,0.8,9,0.476,0.495,"$13,500,000",NaN
15,2012,35,CHC,NL,104.0,16,16,28,2.42,4.40,-0.02,0.17,101.3,4.65,25,3.0,NaN,-0.1,3.8,34,0.686,0.518,"$14,000,000",NaN
16,2012,35,TEX,AL,69.0,12,12,43,5.61,4.55,-0.06,0.17,104.3,4.99,-5,-0.5,NaN,-0.1,0.2,2,0.460,0.497,NaN,NaN
17,2013,36,BOS,AL,171.1,32,29,97,5.10,4.27,0.16,0.16,103.9,4.43,-15,-1.6,0.77,-0.1,0.0,4,0.451,0.490,"$13,250,000",NaN

In [ ]:
aaron.splits("lever", year=1962, split_type='b')

In [ ]:
aaron.game_logs(1962)

In [ ]:
aaron.vs()

In [7]:
ruth = Player("Babe Ruth")

I'm 100% sure that you want Babe Ruth

In [8]:
ruth.vs()

,Name,PA,AB,H,2B,3B,HR,RBI,BB,SO,BA,OBP,SLG,OPS,SH,SF,IBB,HBP,GDP,missG,name
0,George Uhle,194,155,58,8,1,10,26,39,31,0.374,0.500,0.632,1.132,0,0,6,0,2,4.0,Babe Ruth
1,Red Faber,184,148,41,8,1,8,32,35,29,0.277,0.418,0.507,0.925,0,0,8,1,2,12.0,Babe Ruth
2,Rube Walberg,165,129,36,3,0,16,38,31,15,0.279,0.406,0.674,1.080,0,5,0,0,1,3.0,Babe Ruth
3,Ted Lyons,164,135,44,6,2,9,33,26,17,0.326,0.432,0.600,1.032,2,1,2,0,5,5.0,Babe Ruth
4,Earl Whitehill,160,129,35,4,2,9,22,30,26,0.271,0.413,0.543,0.955,0,0,0,1,4,12.0,Babe Ruth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,Vern Underhill,1,0,0,0,0,0,0,1,0,NaN,1.000,NaN,NaN,0,0,0,0,0,NaN,Babe Ruth
427,Jim Walkup,1,1,1,0,0,0,2,0,0,1.000,1.000,1.000,2.000,0,0,0,0,0,NaN,Babe Ruth
428,Frank Wayenberg,1,1,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,NaN,Babe Ruth
429,Ralph Winegarner,1,1,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,NaN,Babe Ruth
430,Hoge Workman,1,1,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0,0,0,0,0,1.0,Babe Ruth

In [ ]:
maddux = Player("Maddux")

In [ ]:
maddux.vs('pitcher')

In [ ]:
# test prep

# some batters
babe_ruth = Player("Babe Ruth")
junior = Player("Ken Griffy Jr.")
jiman = Player("jiman choi")

batters = [babe_ruth, junior, jiman]

# some pitcher
cy_young = Player("Cy Young")
maddux = Player("Greg Maddux")
cole = Player("Gerrit Cole")

pitchers = [cy_young, maddux, cole]

# TEST players overviews

In [ ]:
%%time
for player in batters + pitchers:
    print(player)
    print("#" * 30)
    for table in ["pitching_standard", "pitching_value", "batting_standard",
                             "standard_fielding", "appearances",
                            "batting_postseason", "pitching_postseason"]:
        print(player.name, table)
        try:
            display(player.overview(table).shape)
        except Exception as e:
            print(e)

# Test player game logs

In [ ]:
maddux.game_logs(2004,"f")

In [ ]:
%%time
for player in [babe_ruth]:
    for log_type in ["p","b","f"]:
        for year in player.years_active:
            print("trying", player.name, year, log_type)
            try:
                display(player.game_logs(log_type=log_type, year=year).shape)
            except Exception as e:
                print(e)

# TEST player splits

In [ ]:
%%time
for player in [jiman]:
    for table in ['total', 'plato', 'hmvis', 'half', 'month', f'outcb',
                              'stsub', 'defp', 'leado', 'lineu', 'count', 'outs',
                              'bases', 'clutc', 'lever', 'innng', 'times', 'power',
                              'gbfb', 'hitlo', 'traj', "site", "stad", "oppon"]:
        print(table)
        display(player.splits(split_type="b", table=table))

In [ ]:
%%time
for player in [jiman]:
    for table in ['total', 'plato', 'hmvis', 'half', 'month', f'outcb',
                              'stsub', 'defp', 'leado', 'lineu', 'count', 'outs',
                              'bases', 'clutc', 'lever', 'innng', 'times', 'power',
                              'gbfb', 'hitlo', 'traj', "site", "stad", "oppon"]:
        print(table)
        display(player.splits(split_type="b", table=table))

In [ ]:
%%time
for player in [cole]:
    for table in ['total','total_extra','plato','hmvis','hmvis_extra','half',
                  'half_extra','month','month_extra','outco','outco_extra',
                  'sprel','sprel_extra','rs','rs_extra','lineu','tkswg',
                  'count','leado','defpo','outs','bases','clutc','lever',
                  'innng','times','pitco','dr','dr_extra','hitlo','traj',
                  'oppon','oppon_extra','stad','stad_extra','site','site_extra','catch','ump','ump_extra']:
        print(table)
        display(player.splits(split_type="p", table_type=table))

In [ ]:
cole.splits("plato")

In [ ]:
cole.splits("ump").sort_values("G",ascending=False).head(30)

In [ ]:
glasnow = Player("tyler glasnow")

In [ ]:
glasnow_ump_df = glasnow.splits('ump')

In [ ]:
glasnow_ump_df.sort_values("SO/W", ascending=False)

In [ ]:
df = glasnow.overview().sum()
df.P / df.G

In [ ]:
archer = Player("chris arch")

In [ ]:
archer.overview("pitching_standard")

In [ ]:
archer.game_logs(2019).columns

In [ ]:
archer.game_logs(2019).set_index("Rk").SO.rolling(3).mean().plot()

In [ ]:
Player("Zack greinke").game_logs(2019).set_index("Rk").SO.rolling(3).mean().plot()

In [1]:
from sportsref.football import Player

im calling bref now

In [2]:
eli = Player("eli")

I'm 90% sure that you want Eli Manning

In [5]:
eli.overview("")

Exception: error with choice . valid choices are ['passing', 'ks_passing_detailed_air_yards', 'ks_passing_detailed_accuracy', 'ks_passing_detailed_pressure', 'ks_passing_detailed_play_type', 'passing_playoffs', 'passing_advanced', 'rushing_and_receiving', 'detailed_rushing_and_receiving', 'rushing_and_receiving_playoffs', 'defense', 'defense_playoffs', 'scoring', 'snap_counts', 'sim_scores', 'fantasy', 'combine']

In [6]:
tbls = ['passing', 'ks_passing_detailed_air_yards', 'ks_passing_detailed_accuracy', 'ks_passing_detailed_pressure', 'ks_passing_detailed_play_type', 'passing_playoffs', 'passing_advanced', 'rushing_and_receiving', 'detailed_rushing_and_receiving', 'rushing_and_receiving_playoffs', 'defense', 'defense_playoffs', 'scoring', 'snap_counts', 'sim_scores', 'fantasy', 'combine']

In [7]:
for tbl in tbls:
    print(tbl)
    display(eli.overview(tbl))

passing

,Year,Age,Tm,Pos,No.,G,GS,QBrec,Cmp,Att,...,Rate,QBR,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD,AV
0,2004,23,NYG,qb,10.0,9,7,1-6-0,95,197,...,55.4,NaN,13,83,4.57,3.21,6.2,1.0,1.0,-1
1,2005,24,NYG,QB,10.0,16,16,11-5-0,294,557,...,75.9,NaN,28,184,6.12,5.63,4.8,1.0,2.0,14
2,2006,25,NYG,QB,10.0,16,16,8-8-0,301,522,...,77.0,52.3,25,186,5.59,4.99,4.6,2.0,2.0,11
3,2007,26,NYG,QB,10.0,16,16,10-6-0,297,529,...,73.9,54.6,27,217,5.61,4.82,4.9,3.0,3.0,10
4,2008*,27,NYG,QB,10.0,16,16,12-4-0,289,479,...,86.4,63.2,27,174,6.06,6.00,5.3,3.0,3.0,12
5,2009,28,NYG,QB,10.0,16,16,8-8-0,317,509,...,93.1,69.8,30,216,7.06,6.89,5.6,1.0,2.0,13
6,2010,29,NYG,QB,10.0,16,16,10-6-0,339,539,...,85.3,61.1,16,117,7.00,6.09,2.9,1.0,1.0,12
7,2011*,30,NYG,QB,10.0,16,16,9-7-0,359,589,...,92.9,64.0,28,199,7.67,7.45,4.5,5.0,6.0,15
8,2012*,31,NYG,QB,10.0,16,16,9-7-0,321,536,...,87.2,67.0,19,136,6.87,6.59,3.4,3.0,3.0,15
9,2013,32,NYG,QB,10.0,16,16,7-9-0,317,551,...,69.4,39.3,39,281,5.99,4.55,6.6,1.0,2.0,7
10,2014,33,NYG,QB,10.0,16,16,6-10-0,379,601,...,92.1,62.5,28,187,6.71,6.67,4.5,1.0,1.0,12
11,2015*,34,NYG,QB,10.0,16,16,6-10-0,387,618,...,93.6,60.5,27,157,6.63,6.74,4.2,1.0,2.0,14
12,2016,35,NYG,QB,10.0,16,16,11-5-0,377,598,...,86.0,49.3,21,142,6.28,5.95,3.4,3.0,6.0,9
13,2017,36,NYG,QB,10.0,15,15,3-12-0,352,571,...,80.4,45.4,31,189,5.45,5.11,5.1,0.0,1.0,7
14,2018,37,NYG,QB,10.0,16,16,5-11-0,380,576,...,92.4,48.7,47,358,6.33,6.21,7.5,1.0,2.0,12
15,2019,38,NYG,qb,10.0,4,4,1-3-0,91,147,...,82.6,29.6,5,44,6.57,5.88,3.3,NaN,NaN,3
16,Career,Career,NaN,NaN,NaN,236,234,117-117-0,4895,8119,...,84.1,NaN,411,2870,6.35,5.92,4.8,27.0,37.0,165

ks_passing_detailed_air_yards

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                Pos
0               2018                 37                NYG                 QB
1               2019                 38                NYG                 qb

  Unnamed: 4_level_0 Games     Passing                                        \
                 No.     G  GS     Cmp  Att   Yds   IAY IAY/PA   CAY CAY/Cmp
0                 10    16  16     380  576  4299  4239    7.4  2147     5.7
1                 10     4   4      91  147  1042  1199    8.2   625     6.9


  CAY/PA   YAC YAC/Cmp
0    3.7  2152     5.7
1    4.3   417     4.6

ks_passing_detailed_accuracy

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                Pos
0               2018                 37                NYG                 QB
1               2019                 38                NYG                 qb

  Unnamed: 4_level_0 Games     Passing                                     \
                 No.     G  GS     Cmp  Att   Yds Bats ThAwy Spikes Drops
0                 10    16  16     380  576  4299    0     9      1    24
1                 10     4   4      91  147  1042    4     4      0     4


  Drop% BadTh   Bad% OnTgt OnTgt%
0  4.2%    94  16.6%     0   0.0%
1  2.8%    28  19.6%   106  74.1%

ks_passing_detailed_pressure

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                Pos
0               2018                 37                NYG                 QB
1               2019                 38                NYG                 qb

  Unnamed: 4_level_0 Games     Passing                                        \
                 No.     G  GS     Cmp  Att   Yds  Sk PktTime Bltz Hrry Hits
0                 10    16  16     380  576  4299  47     2.3  122   64   41
1                 10     4   4      91  147  1042   5     2.4   37   10    8


  Scrm Yds/Scr
0    4     4.0
1    1     6.0

ks_passing_detailed_play_type

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                Pos
0               2018                 37                NYG                 QB
1               2019                 38                NYG                 qb

  Unnamed: 4_level_0 Games     Passing              RPO                       \
                 No.     G  GS     Cmp  Att   Yds Plays  Yds PassAtt PassYds
0                 10    16  16     380  576  4299     0    0       0       0
1                 10     4   4      91  147  1042    14  112      14     112

                  PlayAction
  RushAtt RushYds    PassAtt PassYds
0       0       0          0       0
1       0       0         37     282

passing_playoffs

,Year,Age,Tm,Pos,G,GS,QBrec,Cmp,Att,Cmp%,...,Y/C,Y/G,Rate,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD
0,2005,24,NYG,QB,1,1,0-1,10,18,55.6,...,11.3,113.0,35.0,4,22,4.14,-2.00,18.2,NaN,NaN
1,2006,25,NYG,QB,1,1,0-1,16,27,59.3,...,10.1,161.0,85.6,1,7,5.50,5.32,3.6,NaN,NaN
2,2007,26,NYG,QB,4,4,4-0,72,119,60.5,...,11.9,213.5,95.7,9,47,6.30,6.89,7.0,2.0,3.0
3,2008*,27,NYG,QB,1,1,0-1,15,29,51.7,...,11.3,169.0,40.7,0,0,5.83,2.72,0.0,NaN,NaN
4,2011*,30,NYG,QB,4,4,4-0,106,163,65.0,...,11.5,304.8,103.3,11,75,6.57,7.35,6.3,2.0,2.0
5,2016,35,NYG,QB,1,1,0-1,23,44,52.3,...,13.0,299.0,72.1,2,4,6.41,5.87,4.3,NaN,NaN
6,Career,Career,NaN,NaN,12,12,8-4,242,400,60.5,...,11.6,234.6,87.4,27,155,6.23,6.12,6.3,4.0,5.0

passing_advanced

,Year,Age,Tm,Pos,No.,G,GS,QBrec,Att,Y/A+,NY/A+,AY/A+,ANY/A+,Cmp%+,TD%+,Int%+,Sack%+,Rate+
0,2004,23,NYG,qb,10.0,9,7,1-6-0,197,73.0,77.0,71.0,74.0,63.0,88.0,76.0,103.0,68.0
1,2005,24,NYG,QB,10.0,16,16,11-5-0,557,97.0,102.0,99.0,102.0,77.0,103.0,102.0,112.0,93.0
2,2006,25,NYG,QB,10.0,16,16,8-8-0,522,88.0,93.0,92.0,95.0,91.0,107.0,95.0,112.0,95.0
3,2007,26,NYG,QB,10.0,16,16,10-6-0,529,88.0,92.0,88.0,91.0,84.0,104.0,88.0,108.0,89.0
4,2008*,27,NYG,QB,10.0,16,16,12-4-0,479,97.0,99.0,104.0,104.0,97.0,103.0,113.0,105.0,104.0
5,2009,28,NYG,QB,10.0,16,16,8-8-0,509,117.0,116.0,115.0,114.0,105.0,115.0,103.0,103.0,112.0
6,2010,29,NYG,QB,10.0,16,16,10-6-0,539,106.0,113.0,99.0,104.0,107.0,117.0,77.0,125.0,102.0
7,2011*,30,NYG,QB,10.0,16,16,9-7-0,589,126.0,128.0,119.0,121.0,101.0,107.0,102.0,114.0,111.0
8,2012*,31,NYG,QB,10.0,16,16,9-7-0,536,105.0,112.0,104.0,109.0,97.0,106.0,99.0,125.0,102.0
9,2013,32,NYG,QB,10.0,16,16,7-9-0,551,95.0,94.0,80.0,81.0,84.0,87.0,60.0,98.0,77.0
10,2014,33,NYG,QB,10.0,16,16,6-10-0,601,103.0,108.0,105.0,108.0,103.0,106.0,104.0,115.0,105.0
11,2015*,34,NYG,QB,10.0,16,16,6-10-0,618,99.0,106.0,104.0,108.0,99.0,115.0,102.0,115.0,106.0
12,2016,35,NYG,QB,10.0,16,16,11-5-0,598,91.0,99.0,92.0,97.0,101.0,100.0,94.0,122.0,96.0
13,2017,36,NYG,QB,10.0,15,15,3-12-0,571,77.0,83.0,83.0,86.0,94.0,88.0,101.0,109.0,88.0
14,2018,37,NYG,QB,10.0,16,16,5-11-0,576,105.0,101.0,104.0,101.0,109.0,91.0,107.0,93.0,103.0
15,2019,38,NYG,qb,10.0,4,4,1-3-0,147,96.0,104.0,89.0,95.0,91.0,95.0,83.0,125.0,88.0
16,Career,Career,NaN,NaN,NaN,236,234,117-117-0,8119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

rushing_and_receiving

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Year                Age                 Tm
0                2004                 23                NYG
1                2005                 24                NYG
2                2006                 25                NYG
3                2007                 26                NYG
4               2008*                 27                NYG
5                2009                 28                NYG
6                2010                 29                NYG
7               2011*                 30                NYG
8               2012*                 31                NYG
9                2013                 32                NYG
10               2014                 33                NYG
11              2015*                 34                NYG
12               2016                 35                NYG
13               2017                 36                NYG
14               2018                 37                NYG
15               2019                 38                NYG
16             Career             Career                NaN

   Unnamed: 3_level_0 Unnamed: 4_level_0 Games      Rushing          ...  \
                  Pos                No.     G   GS    Rush  Yds TD  ...
0                  qb               10.0     9    7       6   35  0  ...
1                  QB               10.0    16   16      29   80  1  ...
2                  QB               10.0    16   16      25   21  0  ...
3                  QB               10.0    16   16      29   69  1  ...
4                  QB               10.0    16   16      20   10  1  ...
5                  QB               10.0    16   16      17   65  0  ...
6                  QB               10.0    16   16      32   70  0  ...
7                  QB               10.0    16   16      35   15  1  ...
8                  QB               10.0    16   16      20   30  0  ...
9                  QB               10.0    16   16      18   36  0  ...
10                 QB               10.0    16   16      12   31  1  ...
11                 QB               10.0    16   16      20   61  0  ...
12                 QB               10.0    16   16      21   -9  0  ...
13                 QB               10.0    15   15      12   26  1  ...
14                 QB               10.0    16   16      15   20  1  ...
15                 qb               10.0     4    4       4    7  0  ...
16                NaN                NaN   236  234     315  567  7  ...

   Receiving                     Total Yds            Unnamed: 29_level_0  \
         Lng R/G Y/G Ctch% Y/Tgt     Touch Y/Tch YScm                RRTD
0        NaN NaN NaN   NaN   NaN         6   5.8   35                   0
1        NaN NaN NaN   NaN   NaN        29   2.8   80                   1
2        NaN NaN NaN   NaN   NaN        25   0.8   21                   0
3        NaN NaN NaN   NaN   NaN        29   2.4   69                   1
4        NaN NaN NaN   NaN   NaN        20   0.5   10                   1
5        NaN NaN NaN   NaN   NaN        17   3.8   65                   0
6        NaN NaN NaN   NaN   NaN        32   2.2   70                   0
7        NaN NaN NaN   NaN   NaN        35   0.4   15                   1
8        NaN NaN NaN   NaN   NaN        20   1.5   30                   0
9        NaN NaN NaN   NaN   NaN        18   2.0   36                   0
10       NaN NaN NaN   NaN   NaN        12   2.6   31                   1
11       NaN NaN NaN   NaN   NaN        20   3.1   61                   0
12       NaN NaN NaN   NaN   NaN        21  -0.4   -9                   0
13       NaN NaN NaN   NaN   NaN        12   2.2   26                   1
14       NaN NaN NaN   NaN   NaN        15   1.3   20                   1
15       NaN NaN NaN   NaN   NaN         4   1.8    7                   0
16       NaN NaN NaN   NaN   NaN       315   1.8  567                   7

   Unnamed: 30_level_0
                   Fmb
0                    3
1                    9
2                    9
3                   13
4                    5
5                   13
6                    7
7                    8
8                    5
9                    7
10                   7
11                  11
12                   7
13                  11
14                   7
15                   3
16                 125

[17 rows x 31 columns]

detailed_rushing_and_receiving

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                Pos
0               2018                 37                NYG                 QB
1               2019                 38                NYG                 qb

  Unnamed: 4_level_0 Games     Rushing         ... Receiving                   \
                 No.     G  GS    Rush Yds 1D  ...       Yds 1D YBC YBC/R YAC
0                 10    16  16      15  20  5  ...         0  0   0   NaN   0
1                 10     4   4       4   7  1  ...         0  0   0   NaN   0


  YAC/R BrkTkl Rec/Br Drop Drop%
0   NaN      0    NaN    0   0.0
1   NaN      0    NaN    0   0.0

[2 rows x 28 columns]

rushing_and_receiving_playoffs

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                Pos
0               2005                 24                NYG                 QB
1               2006                 25                NYG                 QB
2               2007                 26                NYG                 QB
3              2008*                 27                NYG                 QB
4              2011*                 30                NYG                 QB
5               2016                 35                NYG                 QB
6             Career             Career                NaN                NaN

  Games     Rushing            ... Receiving                     Total Yds  \
      G  GS    Rush Yds TD 1D  ...       Lng R/G Y/G Ctch% Y/Tgt     Touch
0     1   1       0   0  0  0  ...       NaN NaN NaN   NaN   NaN         0
1     1   1       2   4  0  1  ...       NaN NaN NaN   NaN   NaN         2
2     4   4       8  10  0  2  ...       NaN NaN NaN   NaN   NaN         8
3     1   1       1   0  0  0  ...       NaN NaN NaN   NaN   NaN         1
4     4   4       8  20  0  1  ...       NaN NaN NaN   NaN   NaN         8
5     1   1       1  11  0  1  ...       NaN NaN NaN   NaN   NaN         1
6    12  12      20  45  0  5  ...       NaN NaN NaN   NaN   NaN        20

             Unnamed: 28_level_0 Unnamed: 29_level_0
  Y/Tch YScm                RRTD                 Fmb
0   NaN    0                   0                   1
1   2.0    4                   0                   0
2   1.3   10                   0                   1
3   0.0    0                   0                   0
4   2.5   20                   0                   1
5  11.0   11                   0                   1
6   2.3   45                   0                   4

[7 rows x 30 columns]

defense

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Year                Age                 Tm
0                2004                 23                NYG
1                2005                 24                NYG
2                2006                 25                NYG
3                2007                 26                NYG
4               2008*                 27                NYG
5                2009                 28                NYG
6                2010                 29                NYG
7               2011*                 30                NYG
8               2012*                 31                NYG
9                2013                 32                NYG
10               2014                 33                NYG
11              2015*                 34                NYG
12               2016                 35                NYG
13               2017                 36                NYG
14               2018                 37                NYG
15               2019                 38                NYG
16             Career             Career                NaN

   Unnamed: 3_level_0 Unnamed: 4_level_0 Games      Def Interceptions          \
                  Pos                No.     G   GS               Int Yds  TD
0                  qb               10.0     9    7               NaN NaN NaN
1                  QB               10.0    16   16               NaN NaN NaN
2                  QB               10.0    16   16               NaN NaN NaN
3                  QB               10.0    16   16               NaN NaN NaN
4                  QB               10.0    16   16               NaN NaN NaN
5                  QB               10.0    16   16               NaN NaN NaN
6                  QB               10.0    16   16               NaN NaN NaN
7                  QB               10.0    16   16               NaN NaN NaN
8                  QB               10.0    16   16               NaN NaN NaN
9                  QB               10.0    16   16               NaN NaN NaN
10                 QB               10.0    16   16               NaN NaN NaN
11                 QB               10.0    16   16               NaN NaN NaN
12                 QB               10.0    16   16               NaN NaN NaN
13                 QB               10.0    15   15               NaN NaN NaN
14                 QB               10.0    16   16               NaN NaN NaN
15                 qb               10.0     4    4               NaN NaN NaN
16                NaN                NaN   236  234               NaN NaN NaN

    ... Fumbles        Unnamed: 17_level_0 Tackles                      \
    ...      FR Yds TD                  Sk    Comb Solo Ast TFL QBHits
0   ...       0  -9  0                 0.0     NaN  NaN NaN NaN    NaN
1   ...       0   0  0                 0.0     NaN  NaN NaN NaN    NaN
2   ...       1  -3  0                 0.0     NaN  NaN NaN NaN    NaN
3   ...       4  -7  0                 0.0     NaN  NaN NaN NaN    NaN
4   ...       0   0  0                 0.0     NaN  NaN NaN NaN    NaN
5   ...       1   0  0                 0.0     NaN  NaN NaN NaN    NaN
6   ...       2  -4  0                 0.0     NaN  NaN NaN NaN    NaN
7   ...       3  -3  0                 0.0     NaN  NaN NaN NaN    NaN
8   ...       1   0  0                 0.0     NaN  NaN NaN NaN    NaN
9   ...       1  -6  0                 0.0     NaN  NaN NaN NaN    NaN
10  ...       0   0  0                 0.0     NaN  NaN NaN NaN    NaN
11  ...       4 -19  0                 0.0     NaN  NaN NaN NaN    NaN
12  ...       0   0  0                 0.0     NaN  NaN NaN NaN    NaN
13  ...       5  -5  0                 0.0     NaN  NaN NaN NaN    NaN
14  ...       2   0  0                 0.0     NaN  NaN NaN NaN    NaN
15  ...       0  -3  0                 0.0     NaN  NaN NaN NaN    NaN
16  ...      24 -59  0                 0.0     NaN  NaN NaN NaN    NaN

   Unnamed: 23_level_0
                  Sfty
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN

[17 rows x 24 columns]

defense_playoffs

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                Pos
0               2005                 24                NYG                 QB
1               2007                 26                NYG                 QB
2              2011*                 30                NYG                 QB
3               2016                 35                NYG                 QB
4             Career             Career                NaN                NaN

  Games     Def Interceptions              ... Fumbles         \
      G  GS               Int Yds  TD Lng  ...      FR Yds TD
0     1   1               NaN NaN NaN NaN  ...       0   0  0
1     4   4               NaN NaN NaN NaN  ...       0  -3  0
2     4   4               NaN NaN NaN NaN  ...       0   0  0
3     1   1               NaN NaN NaN NaN  ...       0   0  0
4    12  12               NaN NaN NaN NaN  ...       0  -3  0

  Unnamed: 16_level_0 Tackles                     Unnamed: 22_level_0
                   Sk    Comb Solo Ast TFL QBHits                Sfty
0                 0.0     NaN  NaN NaN NaN    NaN                 NaN
1                 0.0     NaN  NaN NaN NaN    NaN                 NaN
2                 0.0     NaN  NaN NaN NaN    NaN                 NaN
3                 0.0     NaN  NaN NaN NaN    NaN                 NaN
4                 0.0     NaN  NaN NaN NaN    NaN                 NaN

[5 rows x 23 columns]

scoring

,Year,Age,Tm,Pos,No.,G,GS,RshTD,RecTD,PR TD,...,AllTD,2PM,2PA,XPM,XPA,FGM,FGA,Sfty,Pts,Pts/G
0,2005,24,NYG,QB,10.0,16,16,1,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
1,2007,26,NYG,QB,10.0,16,16,1,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
2,2008*,27,NYG,QB,10.0,16,16,1,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
3,2011*,30,NYG,QB,10.0,16,16,1,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
4,2014,33,NYG,QB,10.0,16,16,1,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
5,2017,36,NYG,QB,10.0,15,15,1,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
6,2018,37,NYG,QB,10.0,16,16,1,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
7,Career,Career,NaN,NaN,NaN,236,234,7,NaN,NaN,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,NaN

snap_counts

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Year                Age                 Tm                Pos
0              2012*                 31                NYG                 QB
1               2013                 32                NYG                 QB
2               2014                 33                NYG                 QB
3              2015*                 34                NYG                 QB
4               2016                 35                NYG                 QB
5               2017                 36                NYG                 QB
6               2018                 37                NYG                 QB
7               2019                 38                NYG                 qb
8             Career             Career                NaN                NaN

  Unnamed: 4_level_0 Games        Off.       Def.       ST
                 No.     G    GS   Num   Pct  Num  Pct Num  Pct
0               10.0  16.0  16.0  1005   99%    0   0%   0   0%
1               10.0  16.0  16.0   987   96%    0   0%   0   0%
2               10.0  16.0  16.0  1109   98%    0   0%   0   0%
3               10.0  16.0  16.0  1107   99%    0   0%   0   0%
4               10.0  16.0  16.0  1062  100%    0   0%   1   0%
5               10.0  15.0  15.0  1017   94%    0   0%   0   0%
6               10.0  16.0  16.0  1009   98%    0   0%   0   0%
7               10.0   4.0   4.0   248   23%    0   0%   0   0%
8                NaN   NaN   NaN  7544   NaN    0  NaN   1  NaN

sim_scores

    NumYrs Players whose career was of similar quality and shape
0        3  Brett Favre*, Tom Brady, Terry Bradshaw*, Coli...
1        4  Colin Kaepernick, Charley Johnson, Tom Brady, ...
2        5  Carson Wentz, Charley Johnson, Tom Brady, Bria...
3        6  Jameis Winston, Ryan Tannehill, Tom Brady, Mar...
4        7  John Elway*, Jim Everett, Tom Brady, Mark Brun...
5        8  Mark Brunell, John Elway*, Joe Flacco, Drew Bl...
6        9  Mark Brunell, John Elway*, Steve McNair, Donov...
7       10  Donovan McNabb, John Elway*, Mark Brunell, Dre...
8       11  Donovan McNabb, John Elway*, Bob Griese*, Jim ...
9       12  Jim Kelly*, Donovan McNabb, John Elway*, Terry...
10      13  Terry Bradshaw*, John Elway*, Donovan McNabb, ...
11      14  Terry Bradshaw*, John Hadl, Ben Roethlisberger...
12      15  Ben Roethlisberger, Warren Moon*, Terry Bradsh...
13      16  Ben Roethlisberger, Warren Moon*, John Hadl, T...
14  Career  Ben Roethlisberger, Warren Moon*, John Hadl, T...

fantasy

      Year   Age     G FantPos  FantPt   VBD  PosRank  OvRank
0   2004.0  23.0   9.0      QB      51   NaN     36.0     NaN
1   2005.0  24.0  16.0      QB     228  19.0      5.0    51.0
2   2006.0  25.0  16.0      QB     192   NaN     12.0    76.0
3   2007.0  26.0  16.0      QB     198   NaN     14.0     NaN
4   2008.0  27.0  16.0      QB     203   NaN     13.0     NaN
5   2009.0  28.0  16.0      QB     247  11.0     10.0    63.0
6   2010.0  29.0  16.0      QB     241  10.0     10.0    58.0
7   2011.0  30.0  16.0      QB     289  60.0      6.0    22.0
8   2012.0  31.0  16.0      QB     233   NaN     15.0     NaN
9   2013.0  32.0  16.0      QB     170   NaN     22.0     NaN
10  2014.0  33.0  16.0      QB     270   4.0     10.0    67.0
11  2015.0  34.0  16.0      QB     287   2.0     10.0    73.0
12  2016.0  35.0  16.0      QB     226   NaN     21.0     NaN
13  2017.0  36.0  15.0      QB     187   NaN     23.0     NaN
14  2018.0  37.0  16.0      QB     240   NaN     17.0     NaN
15  2019.0  38.0   4.0      QB      54   NaN     39.0     NaN
16     NaN   NaN   NaN     NaN    3316   NaN      NaN     NaN

combine

   Year Pos  Ht   Wt  40yd  Bench  Broad Jump  Shuttle  3Cone  Vertical
0  2004  QB  77  221   4.9    NaN         NaN      NaN    NaN       NaN